.DS_STORE
.eslintrc
.github
*.ignore
bitbucket-pipelines.yml
build/
client/
config/
config/settings.js
docs/
favicon.iconsproj
githooks/
Gulpfile.js
index.ts
lib/
my-eslint-rules.json
node_modules/
npm-debug.log
README.tmpl.md
tests/
TODO.md
tsconfig.json
webpack/
